@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

:root{

  --main-color: #ffff;
  --secondary-color: #0000;
  --font-family: 'Helvetica Neue', sans-serif;
}

body {
background-color: var(--main-color);
height: 100vh;
margin: 0;

}

.añadido {
  width: 60%;
  padding: 10px;
  margin: 20px auto;
  box-sizing: border-box;
  border: solid 10px green;
  border-radius: 15px;
  background-color: antiquewhite;
}

h2, h3 , h4 , input{

  color: black;
  background-color: var(--main-color);
}

.navbar-end a {

 color:  var(--main-color);
}

